.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }

  &__curr {
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 97, 30);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: -25px;
    padding: 2px 0px 2px 0px;
    text-align: center;
    border-radius: 10px;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
